.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;


    nav.header {

        span,
        li {
            margin-right: 10px;
        }
    }


    .search {
        margin-top: 10px;
        display: flex;
        justify-content: center;

        input[type=text] {
            width: 500px;

        }

        input[type=text] {
            height: 30px;
            font-size: 1.15rem;
        }
    }

    table {

        margin: 70px 100px 70px 100px;

        .mat-cell,
        .mat-header-cell {
            border-left: 1px solid;
            border-color: #E0E0E0;
            padding-left: 10px;
        }


        .mat-cell {
            a {
                color: #3366BB;
                cursor: pointer;
            }

        }

        .mat-header-cell {
            font-size: 1.2rem;
            height: 20px;
            background-color: #3fb0ac;
            color: white;
        }

        .mat-column-name {
            width: 15%;
        }
    }

    .navbar {
        height: 50px;
        justify-content: center;
    }
}